doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap", rel="stylesheet")
  body
    .container
      .main
        .header 
          h2 #{__('TITLE', community)}
          p #{__('HEADER', community)}
        form(method="POST", action="invite")#join-form.form
          .email 
            input(type="email", name="email", autofocus, placeholder=__('ENTER_EMAIL'))#slack-email.field
          if tokenRequired
            input(type="text", name="token", placeholder=__('ENTER_TOKEN'))#slack-token.field
          .coc
            input(type="checkbox", name="coc", required)#coc-checkbox 
            span#coc-text 
              | Acepto el 
              | <a href="https://sg.com.mx">Código de conducta</a>.
          .submit 
            input(type="submit", value="Solicita tu invitación")#submit-button
          if !!recaptchaSiteKey
            div(class="g-recaptcha", data-sitekey=recaptchaSiteKey)
    if !!recaptchaSiteKey
       script(src='https://www.google.com/recaptcha/api.js')
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
        var recaptcha = document.getElementById('g-recaptcha-response');
        if (recaptcha && recaptcha.value === '') {
          evt.preventDefault();
        }
      });
