doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap", rel="stylesheet")
  body
    .container
      .main
        .header
          h1
            strong #{community}
          p(class=isFailed?'error':'') !{message}

          p 
            | Regresa al <a target="_top" href="https://sg.com.mx/sgvirtual/">sitio web de SG Virtual</a>.



